.card {
  padding: 1rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  border-radius: 14px;
  background-color: white;
  width: 200px;
  border-style: inset;
  border-color: #d1b000;
  border-width: 5px;
}
